{% extends '::base.html.twig' %}

{% block stylesheets %}
    {% stylesheets filter="cssrewrite"
    'bundles/sjwsearch/css/lib/*'

    'bundles/sjwsearch/css/layout.css'

    output='css/dist/search.css'
    %}
    <link href="{{ asset_url }}" rel="stylesheet" media="screen" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {% javascripts
    '@SJWSearchBundle/Resources/public/js/lib/*'    
    '@SJWSearchBundle/Resources/public/js/search.js'
    
    output='js/dist/search.js'
    %}
    <script src="{{ asset_url }}" type="text/javascript"></script>
    {% endjavascripts %}
{% endblock %}

{% block title %}
    Code Challenge
{% endblock %}

{% block body %}
    <div class="title-container">
        <h1>Population search</h1>
        <p>A simple tool to search Finnish towns and their populations.</p>
    </div>

    <div class="main-container">
        {{ form_start(form, {attr: {novalidate: 'novalidate'}}) }}
        
        <div class="form-group">
            {{ form_errors(form.cityNumber) }}
            {{ form_label(form.cityNumber) }}
            {{ form_widget(form.cityNumber) }}
        </div>
        
        {{ form_end(form) }}
        
        <hr />
        
    </div>
{% endblock %}
